<ul>
  <li>
    <%= link_to "Cadastro de Jogadores", players_path %>
  </li>
  <li>
    <%= link_to "Cadastro de Armas", weapons_path %>
  </li>
  <li>
    <%= link_to "Cadastro de Equipes", teams_path %>
  </li>

  <%= link_to "Criar Partida// ainda precisa configurar", matches_path %>

</ul>